---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/100T.jpg"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/slasher.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/octane.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/kenny.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/priestah.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/enable.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/replay.jpg" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Austin "SlasheR" Liddicoat</td>
      <td>Sam "Octane" Larew</td>
      <td>Kenny "Kenny" Williams</td>
      <td>Preston "Priestahh" Greiner</td>
      <td>Ian "Enable" Wyatt</td>
      <td>James "Replays" Crowder</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>September 2, 1994</td>
      <td>June 23, 1997</td>
      <td>September 2, 1999</td>
      <td>June 27, 1998</td>
      <td>January 20, 1994</td>
      <td>August 23, 1994</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>AR Slayer</td>
      <td>Main AR</td>
      <td>AR Slayer</td>
      <td>SMG Slayer</td>
      <td>SMG Support</td>
      <td>Coach</td>
    </tr>
</table>
