---
layout: default
---

<h2>{{ page.title }}</h2>
<p>The Call of Duty World League is a professional gaming league based from the
Call of Duty franchise. The Call of Duty World league was created in 2015 and
has been growing increasingly since. There are two divisions represented in
the league that are known as Division A and Division B. These divisions are
split up into 8 teams each. The teams are made up of five players from various
areas all over the world. This site will go into detail about the players,
the game, the rules, and more. The Call of Duty World League is a growing and
young eSport. This page specifically will go into the game modes played and
the roles of individual players.</p>

<h2>Background</h2>
<p>The current format of professional Call of Duty is played to be 5v5 with series
of best of 5. The order of game modes goes as follows: Hardpoint, Search and Destroy,
Control, Hardpoint, and then Search and Destroy to end it. These game modes challenge
players to be strategic and understand the maps. This requires them to learn about
how to move around the map and when to make split second decisions.</p>

<h2>Game Modes</h2>
<h1>Hardpoint</h1>
<p>Teams try to secure points on the map by standing in an area referred to as the
"Hardpoint" while fighting against the other team. If a player from both teams
is standing inside of the "Hardpoint" then no points are awarded because the zone
is considered "contested". In order to gain points a team must be inside the "Hardpoint"
by themselves and they will accumulate 1 point for every second. Most maps have a
few different "Hardpoint" spots. In order to win a team must earn 250 points or
have the most points whenever time runs out.</p>
<br>
<h1>Search and Destroy</h1>
<p>Search and Destroy is played on a round basis. Each player gets one life per
round. There are many ways to win a round in this method. There will be two bomb
sites on the map. One team will be trying to defend these sites while another will
be trying to destroy one of the two sites. In order to win a round you can either
eliminate every opponent on the other team, blow up one of the sites, stop the other
team from blowing a site up before time runs out, and defusing a site when set to
blow. Since it is a round by round format the winning team is the first team to win
six rounds</p>
<br>
<h1>Control</h1>
<p>Control is a brand new game mode to Call of Duty and Competitive. It is a round
by round basis as the first team to win 3 rounds is the winner. Each team starts
off with 25 lives. There is two objectives depending on what side your team is on.
One team must defend two areas of the map that marked on the map. The attacking team's
goal is to either kill the other time until no lives remain or to capture both points.
Whenever, a point is capture the attacking team earns more time in the round. If there
is a member from both teams inside of the capture point then it is "contested" and can't
be captured. The defending team's goal is to wipe out the opposing team so nobody remains
or to defend the points until no time remains. First team to 3 rounds is declared the
winner.</p>
<br>

<h2>Roles</h2>
<table>
  <tr>
    <td align="center"><img src="img/sub.jpg" style="width:500px;height:250px;"/>
      <h1>Sub/SMG Role</h1>The role of the submachine gun player is a very fast, up close,
    and personal role. These players are at the front lines of the battle. They try
    to capture points in game modes, push the opponents back to benefit their team.
    They do much better on smaller maps, but the role is used on every map and game mode.</td>
  </tr>
  <tr>
    <td align="center"><img src="img/AR.jpg" style="width:500px;height:250px;"/>
      <h1>AR Role</h1>This is a role of range, assualt rifle players focus on
    taking a team out from medium to long range. AR players watch over top of Sub players
    often times covering them. They protect the sub player as they try to capture objectives.
    This is a role used in all game modes.</td>
  </tr>
  <tr>
    <td align="center"><img src="img/flex.jpg" style="width:500px;height:250px;"/>
      <h1>Flex Role</h1>The Flex player has it all going for them. These players don't
    have a specific role or style because they can play multiple ones. They adjust based
    off of what their team needs. They can use a sub or an AR. Some maps benefit more AR's
    and some maps benefit more subs, so these players will adjust to what works best. This
    role is used in all modes.</td>
  </tr>
  <tr>
    <td align="center"><img src="img/snip.jpg" style="width:500px;height:250px;"/>
      <h1>Sniper Role</h1>The Sniper is used mainly only in Search and Destroy to
    catch a team off guard or take them out quickly from longe range. A sniper is
    used a lot in Search and Destroy to look across the map and collect information
    for your team.</td>
  </tr>
</table>
