---
layout: default
---

<h2>{{ page.title }}</h2>
<p>The Call of Duty World League is a professional gaming league based from the
Call of Duty franchise. The Call of Duty World league was created in 2015 and
has been growing increasingly since. There are two divisions represented in
the league that are known as Division A and Division B. These divisions are
split up into 8 teams each. The teams are made up of five players from various
areas all over the world. This site will go into detail about the players,
the game, the rules, and more. The Call of Duty World League is a growing and
young eSport. This page specifically will go into the game modes played and
the roles.</p>

<h2>Background</h2>
<p>The current format of professional Call of Duty is played to be 5v5 with series
of best of 5. The order of game modes goes as follows: Hardpoint, Search and Destroy,
Control, Hardpoint, and then Search and Destroy to end it.</p>

<h2>Game Modes</h2>
<h1>Hardpoint</h1>
<p>Teams try to secure points on the map by standing in an area referred to as the
"Hardpoint" while fighting against the other team. If a player from both teams
is standing inside of the "Hardpoint" then no points are awarded because the zone
is considered "contested". In order to gain points a team must be inside the "Hardpoint"
by themselves and they will accumulate 1 point for every second. Most maps have a
few different "Hardpoint" spots. In order to win a team must earn 250 points or
have the most points whenever time runs out.</p>
<br>
<h1>Search and Destroy</h1>
<p>Search and Destroy is played on a round basis. Each player gets one life per
round. There are many ways to win a round in this method. There will be two bomb
sites on the map. One team will be trying to defend these sites while another will
be trying to destroy one of the two sites. In order to win a round you can either
eliminate every opponent on the other team, blow up one of the sites, stop the other
team from blowing a site up before time runs out, and defusing a site when set to
blow. Since it is a round by round format the winning team is the first team to win
six rounds</p>
<br>
<h1>Control</h1>
<p>
