---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    <header>
      <strong>Competitive Call of Duty News Report</strong>
        <nav>
          <ul>
            <li><a href="home.html">Home</li>
            <li><a href="page.html">About</li>
            <li><a href="schedule.html">Schedule</li>
            <li><a href="teams.html">Teams</li>
            <li><a href="standings.html">Standings</li>  
          </ul>
        </nav>
    </header>

      {{ content }}




    {% include footer.html %}

  </body>

</html>
