---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<p>Denial Esports is a newly formed team that doesn't have a complete team picture yet.</p>
<img src="img/denial.jpg"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/Brack.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Joee.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Bance.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Rated.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Alexx.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/ZeeK.png" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Carson "Brack" Newberry</td>
      <td>Joe "Joee" Pinnington</td>
      <td>Ben "Bance" Bance</td>
      <td>Rhys "Rated" Price</td>
      <td>Alex "Alexx" Carpenter</td>
      <td>Ryan "Zeeked" Lapierre</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>May 26</td>
      <td>March 1, 1995</td>
      <td>October 14, 1997</td>
      <td>November 8, 1995</td>
      <td>May 6, 1999</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>United States</td>
      <td>England</td>
      <td>England</td>
      <td>Wales</td>
      <td>England</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>AR Slayer</td>
      <td>SMG Support</td>
      <td>Flex</td>
      <td>Main AR</td>
      <td>Flex</td>
      <td>Substitute</td>
    </tr>
</table>
