---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<p>Elevate is a newly formed team and there are currently no team pictures available</P>
<img src="img/Elevate-Logo.jpg"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/Wailers.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Breszy.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/MRuiz.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Skyz.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/ProFeeZy.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/RizK.png" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Wailers "Wailers" Locart</td>
      <td>Paul "Breszy" Breszynksi</td>
      <td>Mike "MRuiz" Ruiz</td>
      <td>Cesar "Skyz" Bueno</td>
      <td>Christopher "ProFeeZy" Astudillo</td>
      <td>Lucas "rizK" Derambure</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>Unknown</td>
      <td>January 19, 2000</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>April 24, 2000</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>France</td>
      <td>France</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>France</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>Player</td>
      <td>Player</td>
      <td>Player</td>
      <td>Player</td>
      <td>Player</td>
      <td>Substitute</td>
    </tr>
</table>
