---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/enigma6logo.png"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/General.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Frosty.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/JetLi.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/KISMET.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/GodRx.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Sender.png" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Jordon "General" General</td>
      <td>Bradley "Frosty" Bergstrom</td>
      <td>Eric "JetLi" Phan</td>
      <td>Matthew "KISMET" Tinsley</td>
      <td>Steven "GodRx" Rivero</td>
      <td>Troy "Sender" Michaels</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>Unknown</td>
      <td>October 12, 1997</td>
      <td>March 30</td>
      <td>November 11, 1999</td>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>Main AR</td>
      <td>AR Slayer</td>
      <td>SMG Support</td>
      <td>SMG Slayer</td>
      <td>Player</td>
      <td>Coach</td>
    </tr>
</table>
