---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/envy.jpg"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/aches.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/fero.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/dec.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/silly.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/huke.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/bevil.jpg" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Patrick "ACHES" Price</td>
      <td>Maurice "fero" Henriquez</td>
      <td>Jacob "Decemate" Cato</td>
      <td>Justin "Silly" Fargo</td>
      <td>Cuyler "Huke" Garland</td>
      <td>Embry "Bevils" Bevil</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>July 18, 1994</td>
      <td>March 27, 1999</td>
      <td>Unknown</td>
      <td>July 4, 1995</td>
      <td>October 21, 1999</td>
      <td>July 3, 1992</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>Saudi Arabia</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>AR Support</td>
      <td>AR Slayer</td>
      <td>SMG Slayer</td>
      <td>AR Slayer</td>
      <td>SMG Slayer</td>
      <td>Substitute</td>
    </tr>
</table>
