---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<p>The team pictured below is not the current eUnited roster. The player on the far
  left was most recently released from the team (jKap) causing eUnited to put "Simp"
  into the starting lineup. There is no current picture of the team out right now.
</p>
<img src="img/eunited.jpg">
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/clay.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/simp.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/abezy.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/prest.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/arc.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/spoof.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td>Name:</td>
    <td>James “Clayster” Eubanks</td>
    <td>Chris “Simp” Lehr</td>
    <td>Tyler “aBeZy” Pharris</td>
    <td>Preston “Prestinni” Sanderson</td>
    <td>Alec “Arcitys” Sanderson</td>
    <td>Tristan "Spoofs" Green</td>
  </tr>
  <tr>
    <td>Born:</td>
    <td>May 7th, 1992</td>
    <td>February 6th, 2000</td>
    <td>November 3rd. 1999</td>
    <td>July 9th, 1998</td>
    <td>July 9th, 1998</td>
    <td>March 21, 199</td>
  </tr>
  <tr>
    <td>From:</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Role</td>
    <td>AR Slayer</td>
    <td>SMG Slayer</td>
    <td>SMG Slayer</td>
    <td>AR Slayer</td>
    <td>Main AR</td>
    <td>Substitute</td>
  </tr>
</table>
