---
layout: default
---
<style>
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
</style>
<h2>{{ page.title }}</h2>
<img src="img/eglogo.jpg"/>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/jkap.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/attach.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/apathy.png" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/xotic.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/phan.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/felo.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Jordan "Jkap" Kaplan</td>
    <td align="center">Dillon “Attach” Price</td>
    <td align="center">Bryan "Apathy" Zhelyazkov</td>
    <td align="center">John "Xotic" Bruno</td>
    <td align="center">Timothy "Phantomz" Landis</td>
    <td align="center">Tyler "FeLo" Johnson</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">April 15th, 1994</td>
    <td align="center">January 4th, 1997</td>
    <td align="center">April 15th, 1994</td>
    <td align="center">May 16th, 1998</td>
    <td align="center">April 19th, 1998</td>
    <td align="center">May 15th, 1997</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">Canada</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">AR Slayer</td>
    <td align="center">SMG Player</td>
    <td align="center">SMG Support</td>
    <td align="center">AR Slayer</td>
    <td align="center">Flex</td>
    <td align="center">Substitute</td>
  </tr>
</table>
