---
layout: default
---
<style>
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
</style>
<h2>{{ page.title }}</h2>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/zooma.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/cell.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/asim.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/skrapz.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/zer0.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/grvty.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Tommy “ZooMaa” Paparatto</td>
    <td align="center">McArthur "Cellium" Jovel</td>
    <td align="center">Obaid "Asim" Asim</td>
    <td align="center">Matthew "Skrapz" Marshall</td>
    <td align="center">Trei "Zer0" Morris</td>
    <td align="center">Tom "GRVTY" Malin</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">August 9, 1995</td>
    <td align="center">December 24, 2000</td>
    <td align="center">February 10</td>
    <td align="center">May 30, 1997</td>
    <td align="center">August 2, 1997</td>
    <td align="center">Unknown</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">Canada</td>
    <td align="center">England</td>
    <td align="center">England</td>
    <td align="center">United States</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">SMG Player</td>
    <td align="center">AR Slayer</td>
    <td align="center">SMG Slayer</td>
    <td align="center">AR Slayer</td>
    <td align="center">Main AR</td>
    <td align="center">Substitute</td>
  </tr>
</table>
