---
layout: default
---
<style>
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
</style>
<h2>Gen.G</h2>
<img src="img/genglogo.jpg"/>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/havok.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/envoy.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/mm.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/nagafen.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/maux.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/spacely.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Colt "Havok" Mclendon</td>
    <td align="center">Dylan “Envoy” Hannon</td>
    <td align="center">Michael “MajorManiak” Szymaniak</td>
    <td align="center">Jared “Nagafen” Harrell</td>
    <td align="center">Chance “Maux” Moncivaez</td>
    <td align="center">Michael “Spacely” Schmale</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">February 19th, 1998</td>
    <td align="center">January 19th, 2000</td>
    <td align="center">Unknown</td>
    <td align="center">June 13th, 1994</td>
    <td align="center">April 19th, 1998</td>
    <td align="center">February 18th, 1997</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">SMG Slayer</td>
    <td align="center">SMG Slayer</td>
    <td align="center">AR Slayer</td>
    <td align="center">Flex</td>
    <td align="center">Main AR</td>
    <td align="center">Substitute</td>
  </tr>
</table>
