---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/heretics.jpg"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/lucky.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/methodzsick.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/jurnii.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/sukry.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/metta.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/lgend.png" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Alejandro Lopez "Lucky" Moreno</td>
      <td>Jorge Gabriel "Methodzsick" Alvarez</td>
      <td>Juan Antonio "JurNii" Gonzalez</td>
      <td>Endika Andres "Sukry" Plaza</td>
      <td>Adrian "MeTTaIZ" Serrano</td>
      <td>Carlos "Lgend" Ortega</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>September 4, 1999</td>
      <td>September 20, 1994</td>
      <td>February 7, 2000</td>
      <td>December 31, 1999</td>
      <td>September 19, 2000</td>
      <td>July 3, 1992</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>Spain</td>
      <td>Spain</td>
      <td>Spain</td>
      <td>Spain</td>
      <td>Spain</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>Flex</td>
      <td>SMG Slayer</td>
      <td>AR Support</td>
      <td>Main AR</td>
      <td>Player</td>
      <td>Coach</td>
    </tr>
</table>
