---
layout: default
---

<h2>{{ page.title }}</h2>
<p>This is a page that is dedicated to reporting on the latest in the Call of Duty
World League. This page has no direct link to the CWL or to any of the teams. This
is a page that was created by a fan to report on the league that he is passionate
about. This page is dedicated solely to finding information about the pro league
and reporting on it. This page will continue to develop, grow each year, and add
more features. Feedback is appreciated! Please scroll down and fill out the form below the
image to give reccomendations or critizism.</p>
<img src="img/bo4.png" align="center"/>

<h2>Contact Us</h2>
<p>If you have any questions regarding my site or have anything you would like to
  see added contact me below</p>

  <form action="https://formspree.io/wiardc@allegheny.edu" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="phone">Phone</label>
  <input type="text" name="phone" id="phone" autocomplete="tel-national" placeholder="A contact number, optional">
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  <button type="submit" name="submit">Send Message</button>
</form>
