---
layout: default
---
<style>
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
</style>
<h2>{{ page.title }}</h2>
<img align="center" src="img/luminlogo.png" style="width:600px;height:400px"/>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/formal.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/gunless.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/slacked.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/john.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/classic.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/ricky.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Matthew "Formal" Piper</td>
    <td align="center">Peirce “Gunless” Hillman</td>
    <td align="center">Josiah “Slacked” Berry</td>
    <td align="center">Johnathon “John” Perez</td>
    <td align="center">Nicholas “Classic” DiCostanzo</td>
    <td align="center">Richard “Ricky” Stacy</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">December 19th, 1994</td>
    <td align="center">November 24th, 1997</td>
    <td align="center">May 20th, 1997</td>
    <td align="center">March 28th, 1996</td>
    <td align="center">February 23rd, 1994</td>
    <td align="center">April 15th, 1995</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">United States</td>
    <td align="center">Canada</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">Main AR</td>
    <td align="center">AR Slayer</td>
    <td align="center">SMG Support</td>
    <td align="center">SMG Slayer</td>
    <td align="center">Flex</td>
    <td align="center">Substitute/Coach</td>
  </tr>
</table>
