---
layout: default
---
<style>
p{
  font-size: 75px;
  font-weight: bold;
  padding: 12px 12px 12px 12px;
  vertical-align: middle;
}
</style>
<p align="center">Luminosity Gaming</p>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/formal.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/gunless.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/slacked.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/john.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/classic.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/ricky.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Matthew "Formal" Piper</td>
    <td align="center">Peirce “Gunless” Hillman</td>
    <td align="center">Josiah “Slacked” Berry</td>
    <td align="center">Johnathon “John” Perez</td>
    <td align="center">Nicholas “Classic” DiCostanzo</td>
    <td align="center">Richard “Ricky” Stacy</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">December 19th, 1994 (age 24)</td>
    <td align="center">November 24th, 1997 (age 21)</td>
    <td align="center">May 20th, 1997 (age 21)</td>
    <td align="center">March 28th, 1996 (age 23)</td>
    <td align="center">February 23rd, 1994 (age 25)</td>
    <td align="center">April 15th, 1995 (age 23)</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">United States</td>
    <td align="center">Canada</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
    <td align="center">United States</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">Main AR</td>
    <td align="center">AR Slayer</td>
    <td align="center">SMG Support</td>
    <td align="center">SMG Slayer</td>
    <td align="center">Flex</td>
    <td align="center">Substitute/Coach</td>
  </tr>
</table>
