---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/midnightlogo.png"/>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/LlamaGod.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Saints.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Parasite.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Blazt.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Lacefield.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/Knight.png" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Devin "LlamaGod" Tran</td>
      <td>Renato "Saints" Reynafarje</td>
      <td>Christopher "Parasite" Duarte</td>
      <td>Rasim "Blazt" Ogresevic</td>
      <td>Andres "Lacefield" Lacefield</td>
      <td>Aidan "GorgoKnight" Provenzano</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>Unknown</td>
      <td>February 24, 1995</td>
      <td>July 21, 1994</td>
      <td>August 12, 1999</td>
      <td>December 17, 1996</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>AR Support</td>
      <td>Player</td>
      <td>Player</td>
      <td>Player</td>
      <td>SMG Slayer</td>
      <td>Substitute</td>
    </tr>
</table>
