---
layout: default
---
<h2 align="center" style="padding:12px12px">Optic Gaming</h2>
<table>
    <tr>
      <th align="center"><img src="img/scump.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/crimsix.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/karma.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/tjhaly.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/dashy.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/zooma.jpg" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td align="center">Seth "Scumpii" Abner</td>
      <td align="center">Ian "Crimsix" Porter</td>
      <td align="center">Damon "Karma" Barlow</td>
      <td align="center">TJ "tjhaly" Haly</td>
      <td align="center">Brandon "Dashy" Otell</td>
      <td align="center">Tommy "Zooma" Papartto</td>
    </tr>
</table>
