---
layout: default
---
<style>
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
}
</style>
<h2>Optic Gaming</h2>
<table>
    <tr>
      <th></th>
      <th align="center"><img src="img/scump.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/crimsix.png" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/karma.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/tjhaly.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/dashy.jpg" style="width:150px;height:150px"/></th>
      <th align="center"><img src="img/zooma.jpg" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td align="center">Name:</td>
      <td align="center">Seth "Scumpii" Abner</td>
      <td align="center">Ian "Crimsix" Porter</td>
      <td align="center">Damon "Karma" Barlow</td>
      <td align="center">TJ "tjhaly" Haly</td>
      <td align="center">Brandon "Dashy" Otell</td>
      <td align="center">Tommy "Zooma" Papartto</td>
    </tr>
    <tr>
      <td align="center">Born:</td>
      <td align="center">June 30, 1995</td>
      <td align="center">May 29th, 1993</td>
      <td align="center">July 17, 1993</td>
      <td align="center">July 19, 1999</td>
      <td align="center">April 19, 1999</td>
      <td align="center">August 9, 1995</td>
    </tr>
    <tr>
      <td align="center">From:</td>
      <td align="center">Mechanicsburg, PA</td>
      <td align="center">United States</td>
      <td align="center">Canada</td>
      <td align="center">United States</td>
      <td align="center">Canada</td>
      <td align="center">United States</td>
    </tr>
    <tr>
      <td align="center">Role</td>
      <td align="center">SMG Slayer</td>
      <td align="center">Main AR</td>
      <td align="center">Flex</td>
      <td align="center">SMG Support</td>
      <td align="center">AR Slayer</td>
      <td align="center">Substitute</td>
    </tr>
</table>
