---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
</style>
<h2>{{ page.title }}</h2>
<table>
    <tr>
      <th></th>
      <th><img src="img/scump.png" style="width:150px;height:150px"/></th>
      <th><img src="img/crimsix.png" style="width:150px;height:150px"/></th>
      <th><img src="img/karma.jpg" style="width:150px;height:150px"/></th>
      <th><img src="img/tjhaly.jpg" style="width:150px;height:150px"/></th>
      <th><img src="img/dashy.jpg" style="width:150px;height:150px"/></th>
      <th><img src="img/zooma.jpg" style="width:150px;height:150px"/></th>
    </tr>
    <tr>
      <td>Name:</td>
      <td>Seth "Scumpii" Abner</td>
      <td>Ian "Crimsix" Porter</td>
      <td>Damon "Karma" Barlow</td>
      <td>TJ "tjhaly" Haly</td>
      <td>Brandon "Dashy" Otell</td>
      <td>Tommy "Zooma" Papartto</td>
    </tr>
    <tr>
      <td>Born:</td>
      <td>June 30, 1995</td>
      <td>May 29th, 1993</td>
      <td>July 17, 1993</td>
      <td>July 19, 1999</td>
      <td>April 19, 1999</td>
      <td>August 9, 1995</td>
    </tr>
    <tr>
      <td>From:</td>
      <td>Mechanicsburg, PA</td>
      <td>United States</td>
      <td>Canada</td>
      <td>United States</td>
      <td>Canada</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>SMG Slayer</td>
      <td>Main AR</td>
      <td>Flex</td>
      <td>SMG Support</td>
      <td>AR Slayer</td>
      <td>Substitute</td>
    </tr>
</table>
