---
layout: default
---
<style>
  table {
    color: #333;
    width: 600px;
    padding: 1px 1px 1px 1px;
  }
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
</style>
<h2>{{ page.title }}</h2>
<p>Reciprocity has just recently made a team change prior to the deadline and due
  to this there is no current picture of the team</p>
<img src="img/recteam.jpg"/>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/zed.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/dylan.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/seany.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/tommey.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/wuskin.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/denz.png" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td align="center">Name:</td>
    <td align="center">Zach "Zed" Denyer</td>
    <td align="center">Dylan "Dylan" Henderson</td>
    <td align="center">Sean "Seany" O'Connor</td>
    <td align="center">Tom "Tommey" Trewren</td>
    <td align="center">Bradely "Wuskin" Marshall</td>
    <td align="center">Denholm "Denz" Taylor</td>
  </tr>
  <tr>
    <td align="center">Born:</td>
    <td align="center">September 13th, 1997</td>
    <td align="center">March 16th, 1999</td>
    <td align="center">Unknown</td>
    <td align="center">September 7th, 1992</td>
    <td align="center">May 30th, 1997</td>
    <td align="center">January 20th, 1995</td>
  </tr>
  <tr>
    <td align="center">From:</td>
    <td align="center">England</td>
    <td align="center">Northern Ireland</td>
    <td align="center">Scotland</td>
    <td align="center">England</td>
    <td align="center">England</td>
    <td align="center">Australia</td>
  </tr>
  <tr>
    <td align="center">Role</td>
    <td align="center">SMG Slayer</td>
    <td align="center">Flex</td>
    <td align="center">Main AR</td>
    <td align="center">AR Support</td>
    <td align="center">AR Slayer</td>
    <td align="center">Substitute</td>
  </tr>
</table>
