---
layout: default
---
<style>
th {
  font-size: 30px;
  font-weight: bold;
}
td{
  vertical-align: middle;
}
</style>
<h2>{{ page.title }}</h2>
<p>As of <time>04/19/19</time>, this is the remaining schedule for the Call of
Duty Black Ops 4 season.</p>
<br>
<h2>Call of Duty World League <time>February 4th - July 5th</time></h2>
<p>This time period is a regular season between the 16 best teams in the game. They
compete in multiple matches throughout this time period usually 2 weeks at a time.
There are two stages of playoffs that take place later in the season. The teams all
meet and compete at a venue in Colombus, Ohio. There is currently 6 weeks left in
the season.</p>

<h2>Week 7 Division A</h2>
<table>
  <tr>
    <th>May 13</th>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Faze Clan</td>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
    <td align="center">Optic Gaming</td>
    <td align="center">vs.</td>
    <td align="center">Gen.G</td>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 14</th>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">UYU</td>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
    <td align="center">Reciprocity</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
    <td align="center">Luminosity</td>
    <td align="center">vs.</td>
    <td align="center">Faze Clan</td>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 15</th>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
    <td align="center">Luminosity</td>
    <td align="center">vs.</td>
    <td align="center">Evil Geniuses</td>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 16</th>
  </tr>
  <tr>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
    <td align="center">Reciprocity</td>
    <td align="center">vs.</td>
    <td align="center">Faze Clan</td>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">Gen.G</td>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Midnight Esports</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
    <td align="center">Optic Gaming</td>
    <td align="center">vs.</td>
    <td align="center">UYU</td>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
  </tr>
</table>
<h2>Week 8 Division A</h2>
<table>
  <tr>
    <th>May 20</th>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
    <td align="center">Reciprocity</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 21</th>
  </tr>
  <tr>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Midnight Esports</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
    <td align="center">Optic Gaming</td>
    <td align="center">vs.</td>
    <td align="center">Evil Geniuses</td>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">Gen.G</td>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 22</th>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">Evil Geniuses</td>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Midnight Esports</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 23</th>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">UYU</td>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
    <td align="center">Luminosity</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
</table>
<h2>Week 9 Division B</h2>
<table>
  <tr>
    <th>May 27</th>
  </tr>
  <tr>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Team Envy</td>
    <td align="center">vs.</td>
    <td align="center">Denial Esports</td>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 28</th>
  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">100 Thieves</td>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Spylce</td>
    <td align="center">vs.</td>
    <td align="center">Elevate</td>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Heretics</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
    <td align="center">eUnited</td>
    <td align="center">vs.</td>
    <td align="center">Enigma6</td>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 29</th>
  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">Elevate</td>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Heretics</td>
    <td align="center">vs.</td>
    <td align="center">Enigma6</td>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Spylce</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>May 30</th>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">Elevate</td>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Spylce</td>
    <td align="center">vs.</td>
    <td align="center">Denial Esports</td>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
    <td align="center">eUnited</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
</table>
<h2>Week 10 Division B</h2>
<table>
  <tr>
    <th>June 3</th>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 4</th>
  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">100 Thieves</td>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Team Envy</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 5</th>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">100 Thieves</td>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>

  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Heretics</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Team Envy</td>
    <td align="center">vs.</td>
    <td align="center">Enigma6</td>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 6</th>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">Denial Esports</td>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
    <td align="center">eUnited</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
</table>
<h2>Week 11 Cross-Division</h2>
<table>
  <tr>
    <th>June 24</th>
  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">UYU</td>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Spylce</td>
    <td align="center">vs.</td>
    <td align="center">Faze Clan</td>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">Evil Geniuses</td>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 25</th>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Enigma6</td>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
    <td align="center">Luminosity</td>
    <td align="center">vs.</td>
    <td align="center">Denial Esports</td>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">100 Thieves</td>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 26</th>
  </tr>
  <tr>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
    <td align="center">Enigma6</td>
    <td align="center">vs.</td>
    <td align="center">Faze Clan</td>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
    <td align="center">Denial Esports</td>
    <td align="center">vs.</td>
    <td align="center">Evil Geniuses</td>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
    <td align="center">UYU</td>
    <td align="center">vs.</td>
    <td align="center">Spylce</td>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
    <td align="center">Luminosity</td>
    <td align="center">vs.</td>
    <td align="center">100 Thieves</td>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>June 27</th>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:50px;height:50px"/></td>
    <td align="center">Faze Clan</td>
    <td align="center">vs.</td>
    <td align="center">Denial Esports</td>
    <td align="center"><img src="img/DEN.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EG.png" style="width:50px;height:50px"/></td>
    <td align="center">Evil Geniuses</td>
    <td align="center">vs.</td>
    <td align="center">Enigma6</td>
    <td align="center"><img src="img/E6.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/100T.png" style="width:50px;height:50px"/></td>
    <td align="center">100 Thieves</td>
    <td align="center">vs.</td>
    <td align="center">UYu</td>
    <td align="center"><img src="img/UYU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Spylce</td>
    <td align="center">vs.</td>
    <td align="center">Luminosity</td>
    <td align="center"><img src="img/Lumin.png" style="width:50px;height:50px"/></td>
  </tr>
</table>
<h2>Week 12 Cross-Division</h2>
<table>
  <tr>
    <th>July 1</th>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
    <td align="center">Reciprocity</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
    <td align="center">Optic Gaming</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Team Envy</td>
    <td align="center">vs.</td>
    <td align="center">Gen.G</td>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>July 2</th>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Heretics</td>
    <td align="center">vs.</td>
    <td align="center">Midnight Esports</td>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
    <td align="center">Optic Gaming</td>
    <td align="center">vs.</td>
    <td align="center">Elevate</td>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
    <td align="center">Reciprocity</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
    <td align="center">eUnited</td>
    <td align="center">vs.</td>
    <td align="center">Gen.G</td>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>July 3</th>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">Elevate</td>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Heretics</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Midnight Esports</td>
    <td align="center">vs.</td>
    <td align="center">eUnited</td>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Team Envy</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <th>July 5</th>
  </tr>
  <tr>
    <td align="center"><img src="img/elevate.png" style="width:50px;height:50px"/></td>
    <td align="center">Elevate</td>
    <td align="center">vs.</td>
    <td align="center">Reciprocity</td>
    <td align="center"><img src="img/REC.png" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/MID.jpg" style="width:50px;height:50px"/></td>
    <td align="center">Midnight Esports</td>
    <td align="center">vs.</td>
    <td align="center">Team Envy</td>
    <td align="center"><img src="img/NV.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/Gen.G.png" style="width:50px;height:50px"/></td>
    <td align="center">Gen.G</td>
    <td align="center">vs.</td>
    <td align="center">Heretics</td>
    <td align="center"><img src="img/HER.jpg" style="width:50px;height:50px"/></td>
  </tr>
  <tr>
    <td align="center"><img src="img/EU.png" style="width:50px;height:50px"/></td>
    <td align="center">eUnited</td>
    <td align="center">vs.</td>
    <td align="center">Optic Gaming</td>
    <td align="center"><img src="img/OG.png" style="width:50px;height:50px"/></td>
  </tr>
</table>
