---
layout: default
---

<h1>{{ page.title }}</h1>
<p>As of <time>04/08/19</time>, this is the remaining schedule for the Call of
Duty Black Ops 4 season.</p>
<br>
<br>
<p>Call of Duty World League <time>February 4th - July 5th</time> This time period
is a regular season between the 16 best teams in the game. They compete in multiple
matches throughout this time period usually 2 weeks at a time. There are two stages
of playoffs that take place later in the season. The teams all meet and compete at
a venue in Colombus, Ohio.</p>
