---
layout: default
---
<style>
table{
  vertical-align: text-top;
}
h2{
  font-size: 75px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
td{
  text-align: center;
}
</style>

<h2>{{ page.title }}</h2>
<img src="img/spylce.png" align="center"/>
<table>
  <tr>
    <th></th>
    <th align="center"><img src="img/acc.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/aqua.png" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/loon.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/temp.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/jurd.jpg" style="width:150px;height:150px"/></th>
    <th align="center"><img src="img/happy.jpg" style="width:150px;height:150px"/></th>
  </tr>
  <tr>
    <td>Name:</td>
    <td>Lamar “Accuracy” Abedi</td>
    <td>Ulysses “AquA” Silva</td>
    <td>Daniel “Loony” Loza</td>
    <td>Donovan “Temp” Laroda</td>
    <td>Jordan “Jurd” Crowley</td>
    <td>Nick "Happy" Suda</td>
  </tr>
  <tr>
    <td>Born:</td>
    <td>August 2, 1996</td>
    <td>September 12th, 1996</td>
    <td>Unknown</td>
    <td>July 10th, 1999</td>
    <td>July 11th, 1995</td>
    <td>March 5, 1997</td>
  </tr>
  <tr>
    <td>From:</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
    <td>United States</td>
    <td>Republic of Ireland</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Role</td>
    <td>AR Slayer</td>
    <td>AR Slayer</td>
    <td>SMG Player</td>
    <td>SMG Slayer</td>
    <td>Flex</td>
    <td>Substitute</td>
  </tr>
</table>
