---
layout: default
---

<h1>{{ page.title }}</h1>
<p>Here are the standings so far for the 2019 season.</p>
<br>
<style>
table {
  color: #333;
  width: 600px;
  border: solid #777;
  border-width: 1pt 0pt 0pt 1pt;
  border-spacing: 0;
  margin: 30px;
  padding: 5px 5px 5px 5px;
}
td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}
th {
  font-weight: bold;
}
td {
  text-align: center;
  vertical-align: middle;
}
td {
  border: solid 1pt transparent;
}
td {
  padding: 10pt;
}
tbody td {
  padding: 0.75em;
}
tbody tr:hover {
  background-color: #9e9e9e;
  color: black;
}
tbody tr:nth-child(even) {
  background-color: lightgrey;
}
tbody tr:nth-child(odd) {
  background-color: white;
}
tbody tr:hover {
  background-color: #9e9e9e;
  color: black;
}
</style>

<table align="left">
  <tr>
    <th>Division A</th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Overall</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Division</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Team</th>
    <td>Wins</td>
    <td>Loses</td>
    <td>Win Percentage</td>
    <td>Maps Won</td>
    <td>Maps Lost</td>
    <td>Percentage</td>
    <td></td>
    <td>Wins</td>
    <td>Loses</td>
    <td>Win Percentage</td>
    <td>Maps Won</td>
    <td>Maps Lost</td>
    <td>Percentage</td>
  </tr>
  <tr>
    <td>Gen.G</td>
    <td>9</td>
    <td>2</td>
    <td>81%</td>
    <td>29</td>
    <td>17</td>
    <td>63%</td>
    <td></td>
    <td>6</td>
    <td>1</td>
    <td>85%</td>
    <td>19</td>
    <td>11</td>
    <td>63%</td>
</table>
