<!doctype html>
<html lang="en">
  <head>
    <!-- Include the required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS for Slate -->
    <link href="css/site.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
    <!-- Add a title to fit your web site's purpose and theme -->
    <title>Standings</title>
  </head>

  <body>

    <h1>Standings</h1>
    <p>Here are the standings so far for the 2019 season.</p>
    <br>

    <table>
      <tr>
        <th>Division A</th>
      </tr>
      <tr>
        <th>Overall</th>
        <th>Division</th>
      </tr>
      <tr>
        <th>Team</th>
        <td>Wins</td>
        <td>Loses</td>
        <td>Win Percentage</td>
        <td>Maps Won</td>
        <td>Maps Lost</td>
        <td>Percentage</td>
        <td></td>
        <td>Wins</td>
        <td>Loses</td>
        <td>Win Percentage</td>
        <td>Maps Won</td>
        <td>Maps Lost</td>
        <td>Percentage</td>
      </tr>
      <tr>
        <td>Gen.G</td>
        <td>9</td>
        <td>2</td>
        <td>81%</td>
        <td>29</td>
        <td>17</td>
        <td>63%</td>
        <td></td>
        <td>6</td>
        <td>1</td>
        <td>85%</td>
        <td>19</td>
        <td>11</td>
        <td>63%</td>
      </table>
  </body>
</html>
