---
layout: default
---
<style>
th {
  font-size: 40px;
  font-weight: bold;
}
td {
  font-size: 25px;
}
p {
  font-size: 25px;
}
img{
  vertical-align: middle;
}
</style>
<h2>{{ page.title }}</h2>
<p>There are currently 16 teams in the Call of Duty World League. The divisions
are split into two divisions of A and B.</p>
<table>
  <tr>
    <th>Division A</th>
  </tr>
  <tr>
    <td align="center"><img src="img/OG.png" style="width:200px;height:200px;"/><br/><a href="OpticGaming.html">Optic Gaming</td>
    <td align="center"><img src="img/Lumin.png" style="width:200px;height:200px"/><br/><a href="Luminosity.html">Luminosity</td>
    <td align="center"><img src="img/Gen.G.png" style="width:200px;height:200px"/><br/><a href="GenG.html">Gen.G</td>
    <td align="center"><img src="img/EG.png" style="width:200px;height:200px"/><br/><a href="EvilGeniuses.html">Evil Geniuses</td>
  </tr>
  <tr>
    <td align="center"><img src="img/fc.png" style="width:200px;height:200px"/><br/><a href="FazeClan.html">Faze Clan</td>
    <td align="center"><img src="img/REC.png" style="width:200px;height:200px"/><br/><a href="Reciprocity.html">Reciprocity</td>
    <td align="center"><img src="img/UYU.png" style="width:200px;height:200px"/><br/>UYU</td>
    <td align="center"><img src="img/MID.jpg" style="width:200px;height:200px"/><br/>Midnight Esports</td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <th>Division B</th>
  </tr>
  <tr>
    <td align="center"><img src="img/SPL.jpg" style="width:200px;height:200px"/><br/>Spylce</td>
    <td align="center"><img src="img/EU.png" style="width:200px;height:200px"/><br/>eUnited</td>
    <td align="center"><img src="img/100T.png" style="width:200px;height:200px"/><br/>100 Thieves</td>
    <td align="center"><img src="img/NV.jpg" style="width:200px;height:200px"/><br/>Team Envy</td>
  </tr>
  <tr>
    <td align="center"><img src="img/HER.jpg" style="width:200px;height:200px"/><br/>Heretics</td>
    <td align="center"><img src="img/EXC.jpg" style="width:200px;height:200px"/><br/>Excelerate Gaming</td>
    <td align="center"><img src="img/DEN.png" style="width:200px;height:200px"/><br/>Denial Esports</td>
    <td align="center"><img src="img/E6.png" style="width:200px;height:200px"/><br/>Enigma6</td>
  </tr>
</table>
