---
layout: default
---
<h1>{{ page.title }}</h1>
<p>There are currently 16 teams in the Call of Duty World League. The divisions
are split into two divisions of A and B.</p>
<table>
  <tr>
    <th>Division A</th>
  </tr>
  <tr>
    <td><a title="Optic Gaming" href="https://lol.gamepedia.com/OpTic_Gaming"><img src="img/OG.png"/><br/>Optic Gaming</td>
    <td>Luminosity</td>
    <td>Gen.G</td>
    <td>Evil Geniuses</td>
  </tr>
  <tr>
    <td>Red Reserve</td>
    <td>Reciprocity</td>
    <td>UYU</td>
    <td>Midnight</td>
  <tr>
    <th>Division B</th>
  </tr>
  <tr>
    <td>Spylce</td>
    <td>eUnited</td>
    <td>100 Thieves</td>
    <td>Team Envy</td>
  </tr>
  <tr>
    <td>Heretics</td>
    <td>Excelerate Gaming</td>
    <td>Denial Esports</td>
    <td>Enigma6</td>
  </tr>
</table>
